* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#alert {
    color: #faf9f9;
    position: relative;
    font-size: 300%;
    background-color: #ff0000;
    border-radius: 10px 10px 0px 0px;
    text-align: center;


}

header {
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #0f6df8;
    position: fixed;
    z-index: 1;

}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

nav ul {
    display: flex;
}

nav ul li {
    display: inline;
    font-size: 150%;
    margin-right: 10%;
}

nav ul li a {
    color: white;

}

h1 {
    font-size: 250%;
    color: #ffffff;
}

.container {
    padding-top: 8%;
    display: grid;
    grid-template-columns: 25% 75%;
}

.tipoCita {

    margin: 3%;
    text-align: center;
    border-right: 2px solid black;
}

.registro {

    text-align: center;
}

.registro p {
    font-size: 150%;
}

h2 {
    font-size: 180%;
    text-align: center;
}

.agendaCita {
    border: solid 2px black;
    margin: 3%;
    border-radius: 14px;
    background: #dddfe2;
    box-shadow: 7px 7px 14px #9b9c9e,
        -7px -7px 14px #ffffff;
}

#mostrarFormulario {
    font-size: 200%;
    margin-top: 2%;
    border: none;
    padding: 1%;
    border-radius: 4px 0 4px 0;
    color: white;
    background-color: #0f6df8;
    cursor: pointer;
    display: inline-block;

}

#mostrarFormulario:hover {
    background-color: #4facf3;
    color: black;
}

.agendaCita h4 {
    text-align: center;
    padding-top: 2%;
    font-size: 150%;
}

.texto {
    text-align: justify;
    padding-left: 5%;
}

.texto label {
    font-size: 200%;
}
input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea,
select {
  font-size: 140%;
  text-align: center;
}

.texto input {
    border: none;
    width: 30%;
    height: 30px;
    background-color: #4facf39a;
    border-radius: 5px;
}

.texto select {
    border: none;
    width: 30%;
    height: 30px;
    background-color: #4facf39a;
    border-radius: 5px;
}



.citasA {
    text-align: center;

}

.form {
    padding: 5%;
    /* display: none; */
}


#buton {
    margin-top: 2%;
    font-size: 150%;
    border: none;
    padding: 1%;
    border-radius: 4px 0 4px 0;
    color: white;
    background-color: #0f6df8;
    cursor: pointer;

}

#buton:hover {
    background-color: #4facf3;
    color: black;
}

#citas {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    vertical-align: top;
    margin-left: 25%;
}

#citas img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    margin-left: 20%;

}

.card {
    text-align: justify;
    padding: 2%;

    padding-left: 5%;
    width: 80%;
    height: auto;
    border: solid 1px #0f6df8;
    margin: 5%;
    border-radius: 14px;
    background: #dddfe2;
    box-shadow: 7px 7px 14px #9b9c9e,
        -7px -7px 14px #ffffff;
}

.card:hover {
    transform: scale(1.1);
}

.cita {
    margin-left: 10px;
    /* border: solid 1px #0f6df8 ; */
}

.cita h4 {
    font-size: 200%;
    color: #0f6df8;

}

.buton {
    font-size: 80%;
    margin: 2%;
    border: none;
    padding: 2%;
    border-radius: 4px 0 4px 0;
    color: white;
    background-color: #0f6df8;
    cursor: pointer;
    margin-left: 5%;


}

.buton:hover {
    background-color: #4facf3;
    color: black;
}

.detalles {
    font-size: 120%;
    border-top: solid 2px #0f6df8;
    padding-left: 2%;

}

@media(max-width:900px) {
    .container {
        padding-top: 12%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #citas {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 10%;
        width: 90%;
    }
}

@media(max-width:600px) {

    h1 {
        font-size: 150%;

    }

    nav ul li {

        font-size: 100%;

    }

    #citas {


        margin: 2%;
        width: 100%;
    }

    .texto label {
        font-size: 150%;
    }
}
